.card{
    display: flex;
    max-width: 300px;
    box-shadow: 2px 8px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    animation: blink 2s  linear 1;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.cards{
    display: flex;
    float: left;
    justify-content: center;
    margin: auto;
    width: fit-content;
    height: 475px;
    border-radius: 50px;
    background-color: aliceblue;
}
.img{
    width: 298px;
    height: 300px;
}
h3{
    font-weight: 700;
}
